[2016-10-15 10:14] NycuRO opened #1 "For other server?"
Hi Salami. You can add per server in config.yml ?

For show TopVoter for other server. ( For nemisys servers ).

E.g.: Nemisys server: nycuro.minecraft-romania.ro:19132

Hub server : nycuro.minecraft-romania.ro:19133.

Plugin load to HUB,other server. You can add for show for costum server? ( Plugin load on hub, but show for Nemisys server TopVoter )

[2016-10-15 10:14] #1 closed

[2016-10-15 10:14] ghost commented on #1
Work using Key. Thanks salami

[2016-10-15 10:32] NycuRO opened #2 "Top costumizable"
@SalmonGER aka Salami ,you can add top 1-10 FloatingText?

Top 1 - {name}
Top 2 - {name}
... with max costumizable in config.yml?

E.g.: In config.yml exist : limit.top: 10. For this show :

Top 1 - {name}
Top 2 - {name}
...
Top 10 - {name}

For : limit.top: 3, show:
Top 1 - {name}
Top 2 - {name}
Top 3 - {name}

You can add? :)

[2016-10-15 10:32] #2 closed

[2016-10-15 10:32] NycuRO commented on #2
Again exist :)))))))) Thx again

[2016-10-15 10:54] NycuRO opened #3 "Costum Colors and Top 1 , top 2..."
Salami,you can add costum colors? @SalmonGER
And add Top 1 - first
Top 2 - twenty .... etc?

[2016-10-15 11:58] opkiler22789 opened #4 "Add Russian language"
whether it is possible to add the Russian language in your plugin? transfer can personally

[2016-10-15 12:34] SalmonDE commented on #4
@opkiler22789 I currently work on that. :)

[2016-10-15 12:56] #3 closed

[2016-10-15 12:57] SalmonDE commented on #4
There's an option inside the config.yml now. <3

[2016-10-15 12:57] #4 closed

[2016-10-15 13:47] NycuRO opened #6 "Other plugin with GameTrack"
Hi again Salami, @SalmonGER .  You can create other plugin with TopOnlineTime.

For top online time on server ,players ? :) Using GameTracker,have support OnlineTime :)

[2016-10-15 13:53] aquaminer commented on #6
Fantastic idea it would be interesting to see

[2016-10-15 13:58] ghost commented on #6
Or Items command. Switch item from inventory and execute command. Like LBSG

[2016-10-15 14:06] SalmonDE commented on #6
Sorry, I don't understand what you mean @NycuRO.
What TopOnlineTime?

[2016-10-15 14:49] ghost commented on #6
@SalmonGER You can create new plugin, " TopOnlineTime " ?

[2016-10-15 21:03] Aericio commented on #6
He could just add it into StatsPE and make /statstop or something like that.
ex: /statstop [kills/deaths/onlinetime/etc]

[2016-10-16 09:38] #6 closed

[2016-10-30 06:41] padrone21 opened #7 "crash"
[Server] Server thread/CRITICAL Error: "Call to a member function getLogger() on null" (EXCEPTION) in "/TopVoter-master.phar/src/SalmonDE/Tasks/QueryServerListTask" at line 46

[2016-10-30 06:44] Aericio commented on #7
What servercore are you runnibg on?

[2016-10-30 08:54] SalmonDE commented on #7
Did you rename the plugin?

[2016-10-30 10:07] Aericio commented on #7
@SalmonGER He probably compiled it himself.

[2016-10-31 11:30] padreon commented on #7
@SalmonGER I just took the name of his zip

[2016-11-06 03:44] Aericio commented on #7
Still getting it?

[2016-11-06 03:44] Aericio opened #8 "TopVoter hologram shows on all worlds"
Make it multiworld support or something.

[2016-11-06 18:46] SalmonDE commented on #8
Added

[2016-11-06 18:48] #8 closed

[2016-11-06 20:58] Aericio commented on #8
<3

[2016-11-22 04:05] Aericio commented on #7
@padrone21 Do you still get it? If not, I'm closing this.

[2017-01-21 20:05] #7 closed

[2017-02-06 13:38] LordJoshie opened #10 "[RESOLVED] API key gives invalid response"
To be honest, and I apologize... I didn't think StatsPE & TopVoter (Two beautiful plugins I use !) were both yours.

Well, this is the plugin I'm having issues with ... I get a "invalid response" from the server, when configured the exact same on Tess as was on PocketMine.

Any help ? I can show you a screen shot, or directly get some log clips of the error.

[2017-02-06 13:52] Leejit commented on #10
**Removed API-Key due to security reasons - Salmon**

[2017-02-06 15:17] Leejit commented on #10
lol, t.y Salmon.... but how is it a security risk ? j.w. :$

[2017-02-06 15:19] SalmonDE commented on #10
@LordJoshie As far as I know the serverlist claimed that you should never post it somewhere. Anyway, it seems like your API key is invalid.

[2017-02-06 15:20] SalmonDE commented on #10
I'll try to make the plugin show the response of the serverlist

[2017-02-06 15:21] Leejit commented on #10
:'(  but its what i use for vote rewards. wubwub. t.y for the help. sorry
im at work atm, i seem derpy cuz Im typing quick xD

Ill try solutions after work. :$

On Feb 6, 2017 10:19 AM, "SalmonDE" <notifications@github.com> wrote:

[2017-02-06 15:23] SalmonDE commented on #10
@LordJoshie Try using this link:
https://minecraftpocket-servers.com/api/?object=servers&element=voters&month=current&format=json&key= **insert-your-key-here!**

[2017-02-06 15:27] Leejit commented on #10
you suggest I use the whole link with my key in the spot without the *'s ?

[2017-02-06 15:30] SalmonDE commented on #10
@LordJoshie you can test your key with that link. It won't make it work, I just wanted to tell you how I tested it.

[2017-02-06 15:33] Leejit commented on #10
Oh, thanks ! Ill use this to try and solve my issue.

I appreciate the help. Id have tried these steps before asking for help,
but I wasnt aware until now.

Ill give this all a try later. Thank you !

On Feb 6, 2017 10:30 AM, "SalmonDE" <notifications@github.com> wrote:

[2017-02-06 16:08] SalmonDE commented on #10
Hope this won't happen again! :) Added a console message to let people know if their API key is invalid.

[2017-02-06 16:14] Leejit commented on #10
Thanks Salmon ! I appreciate your help here.

On Feb 6, 2017 11:08 AM, "SalmonDE" <notifications@github.com> wrote:

[2017-02-07 01:34] Leejit commented on #10
Hey Salmon, I am home from work now and able to provide anything from my end needed for you to help me resolve this issue...

And my apologies about lastnights/thismornings little messup with the plugin confusion... I was super tired :P

[2017-02-07 01:35] Leejit commented on #10
![capture](https://cloud.githubusercontent.com/assets/17371144/22674052/d4e121b6-ecab-11e6-8fe8-9233aca35219.PNG)

[2017-02-07 01:36] Leejit commented on #10
after you updated the plugin, this was the new information it gave me... if there is a way I can personally show you my logs and .yml's to compare, and for you to point out what my problem is, I am all for doing that, so my personal information isn't shared here in a public place.

[2017-02-07 04:33] Aericio commented on #10
You could contact him via [Telegram](https://telegram.me/SalmonDE) or email him (salmonde@salmonde.de)

[2017-02-07 04:40] Aericio commented on #10
Oh, try resetting your config.yml for TopVoter and type everything back in (don't cp). I am not sure if this matters, but make sure there is no space in the begging or the end inside the `API-Key: 'supersecretkey'`

[2017-02-07 07:57] LordJoshie commented on #10
![capture](https://cloud.githubusercontent.com/assets/17371144/22682537/219bc1a2-ece1-11e6-829e-eaec77856b48.PNG)

[2017-02-07 07:59] Leejit commented on #10
I don't care much about the api-key being shown, but here... I downloaded Tess, I downloaded TopVoter, and ran it... still get the same issue. so I'm stupid :)
![capture](https://cloud.githubusercontent.com/assets/17371144/22682571/5777b056-ece1-11e6-9222-6dc08484ee26.PNG)

[2017-02-07 09:47] Leejit commented on #10
Sorry to be a bother Salmon, I've literally gone through this way more than I ever thought I would.

With my very small amount of knowledge, I went ahead and picked apart the plugin and it seems that no matter what I do, I will always receive the same errors.

:S

[2017-02-07 10:16] Leejit commented on #10
As you can see here, with some changes to the source plugin, and a test on Tesseract, it DOES in fact work.... however, something due to the way the plugin is calling to/handling the information is the issue I'm having.

Have you made any changes in the past Salmon ?

![capture1](https://cloud.githubusercontent.com/assets/17371144/22687020/6165b3a2-ecf4-11e6-84a7-997f6a5e9627.PNG)
![capture2](http

[2017-02-07 11:27] SalmonDE commented on #10
@LordJoshie Yup, I also came to the same solution when I saw that the Updater also failed for you. It seems like the way the plugin connects to the internet is broken. I'll guess the Utils::getURL() function has to do with this issue.

[2017-02-07 11:29] Leejit commented on #10
Hey.... Salmon, my friend and I figured it out.

ALL CREDIT GOES TO MY FRIEND... but change the https to just be http. wallah. have a good day.

[2017-02-07 11:31] SalmonDE commented on #10
@LordJoshie In normal cases https shouldn't cause such issues. But I can't offer another solution yet, so I'll close this now.

[2017-02-07 11:31] #10 closed

[2017-02-07 11:42] Leejit commented on #10
Hey man, if it ain't broke... don't fix it !

And fortunately, you're plugin wasn't broken... just the laws of the internet... so we had to lie a little. :)

[2017-02-07 11:51] SalmonDE commented on #10
@LordJoshie I asked dktapps about a feature which could return the cURL error in Utils::getURL(). I hope the idea gets accepted. That could help to truly find out what this issue was caused by.

[2017-02-10 00:32] TheClimbing opened #12 "Error"
I get this error please help.
[code]

[2017-02-10 09:27] SalmonDE commented on #12
Yeah, my bad, sorry. It's EntityLevelChangeEvent::getOrigin().

[2017-02-10 09:38] SalmonDE commented on #12
Tell me if this still occurs. :)

[2017-02-14 14:55] SalmonDE commented on #10
The feature was added into the branch [issues/332](https://github.com/pmmp/PocketMine-MP/tree/issues/332) at pmmp. As soon as the updater crash of pmmp is fixed, could you test this again with this version of pmmp? I am really interested to fix this issue or just find out, what the cause was.

[2017-02-14 19:22] Leejit commented on #10
Yeah, I'll give this a go now and report my findings.

[2017-02-14 19:38] Leejit commented on #10
I realize why I don't use PocketMine, besides having nothing to offer, it's slow, uses too much resource, and you need to compile the spl/raklib& lang files... holy garbage.

My server is currently frozen because of launching PocketMine. doesn't help I'm doing this off the server I host my public server on... so... whoops.

[2017-02-14 19:44] SalmonDE commented on #10
@LordJoshie Oh well, I'd always suggest to test things on a test server. Do you need a phar compiled or will you be able to compile from branch issues/332?

Oh and the thing is, you're actually supposed to recursivly download the repository (git clone --recursive https://github.com/pmmp/PocketMine-MP should work). This way submodules will be downloaded, too.

[2017-02-14 19:46] Leejit commented on #10
its compiled... derp. hence when booting it lagged the shit out of my server.

also, I only own one vps... so I create new folders for my test servers... not expecting a program that is default set to use only 512mb of ram, to take up 3gb fro a world generation, and lag up my vps so hard...

still waiting for a response from it.

[2017-02-14 19:53] Leejit commented on #10
Okay, things are fine now...

Regardless, I'm still curious why this needs to be tested... or what you're expecting to get from it.

[2017-02-14 19:54] SalmonDE commented on #10
@LordJoshie Since I didn't change anything or fix it it could be possible that other people could encounter this issue. If it is avoidable by the code I'd like to change it properly.

I hope Utils::getURL() will return an error message from cURL. It should do with the new pmmp branch when cURL fails.

[2017-02-27 11:49] DKQoo2 opened #14 "The Floating Particle will Disapper when level change"
Just add this plugin to server and set something need. Then, join the server, and try teleporting , when u go back the world that u set. u can't see the floating particle again, but join the server again it will come back , can u fix it?

[2017-02-27 16:41] SalmonDE commented on #14
Thanks! I'll fix it very soon. :)

[2017-02-27 16:42] hqn21 commented on #14
i hope u so
your plugins are very nice :)

[2017-02-27 16:44] #14 closed

[2017-02-27 17:02] DKQoo2 opened #15 "I think u forget the Updater :)"

[2017-02-27 17:10] SalmonDE commented on #15
Hmm, yeah the updater usually only allows one update per day but I could do an exception this time.

[2017-02-27 17:11] hqn21 commented on #15
OKAY :)

[2017-02-27 17:11] SalmonDE commented on #15
It should update now

[2017-02-27 17:11] hqn21 commented on #15
tks u are nice

[2017-02-27 17:15] SalmonDE commented on #15
Nevermind. Travis failed so there wasn't any update made yet. I need to update DevTools. ugh

[2017-02-27 21:53] #15 closed

[2017-03-05 15:11] NycuRO opened #16 "ERROR"
[Tesseract] [16:58:41] ERROR> [TopVoter] Couldn't process data! No array was returned!
[Tesseract] [16:58:41] ERROR> [TopVoter] Raw:

@SalmonDE

[2017-03-05 18:18] SalmonDE commented on #16
Could tell me what you get from visiting this url on your server machine? Oh, and don't forget to insert the API key at the end. :)
https://minecraftpocket-servers.com/api/?object=servers&element=voters&month=current&format=json&limit=5&key=[YOUR-API-KEY]

[2017-03-14 11:53] hqn21 commented on #16
@SalmonDE I have the same problem
I'm sure i enter the API KEY into config.yml :)))))))))))))))))))))))))

[2017-03-14 15:37] SalmonDE commented on #16
Could you try the same as above? And if you wouldn't mind, I think an E-Mail conversation would be faster and more reliable. ;) Contact me at salmonde@salmonde.de

[2017-03-16 13:45] EndreEndi commented on #16
@NycuRO for me working this plugin:)

[2017-03-25 05:31] Ishannaik commented on #16
same issue not working for me
when i did the link of the api key
this one https://minecraftpocket-servers.com/api/?object=servers&element=voters&month=current&format=json&limit=500&key=[YOUR-API-KEY]
[code]
but the console shows
[code]

[2017-03-25 09:17] Aericio commented on #16
Are you sure your API key is in ' '?
ex: `API-Key: '3921uej19x1hdi'`

[2017-03-25 09:22] Ishannaik commented on #16
yep

[2017-03-25 09:23] Ishannaik commented on #16
API-Key: '*****'
its in the ' '

[2017-03-25 10:12] SalmonDE commented on #16
@Ishannaik The line "Raw:" outputs what the serverlist returned, and it says "Error: no server key" which means there really wasn't a server key given.

Could you try putting your key inside " "? I'm really not sure why this issue occurs

[2017-03-25 12:42] Ishannaik commented on #16
Worked THANKS BRO

[2017-03-25 12:49] SalmonDE commented on #16
Nice to hear it worked @Ishannaik ! Could you try this, @NycuRO and @DKQoo2 ? I'll close this issue for now.

[2017-03-25 12:49] #16 closed

[2017-03-25 13:09] Ishannaik commented on #16
btw when i try to change colour of the players Text: "{player} ยง4{votes}" it says same error and with Header too i cant seem to change it

[2017-03-25 13:20] Ishannaik commented on #16
btw no thats not the issue when ever u try to add a colour  in the header or the text
it causes the error i think its because of the default green and orange colour?

[2017-03-25 15:12] SalmonDE commented on #16
@Ishannaik No I think that means the config file gets corrupted when you save it with these characters.

[2017-03-26 02:55] Ishannaik commented on #16
yea pls fix that

[2017-03-26 08:35] SalmonDE commented on #16
@Ishannaik I think this is not possible (or not nice). A corrupted config should be deleted and replaced by a new one generated by the plugin.

[2017-03-27 12:08] Ishannaik commented on #16
but i cannot change the colours of the text because of this bug

[2017-03-27 13:02] SalmonDE commented on #16
@Ishannaik Could you check in what character encoding your config file is saved? Is it UTF-8?

[2017-03-30 14:12] Ishannaik commented on #16
what is that?

[2017-03-30 14:34] Ishannaik commented on #16
how do i see what code is that?

[2017-03-30 15:03] SalmonDE commented on #16
@Ishannaik With programs like NotePad++

[2017-03-30 15:06] Ishannaik commented on #16
i did encode in UTF-8 And its same

[2017-03-30 15:09] Ishannaik commented on #16
Error *Sigh*
`
Notice: Undefined variable: apis in phar:///root/Tests/plugins/TopVoter.phar/src/SalmonDE/Updater/UpdateManager.php on line 63
[Tesseract] [15:08:30] WARNING> [TopVoter] An update is available but the API version of your server isn't supported by it.
[Tesseract] [15:08:30] WARNING> [TopVoter] API version of the server: 3.0.1
[Tesseract] [15:08:30] WARNING> [TopVoter]
`

[2017-03-30 15:30] SalmonDE commented on #16
@Ishannaik This actually isn't an error but a warning that an update is available, but the API version of your server software is **unsupported**. I added this because I @only code with pmmp. I cannot test my plugins on every software and adjust it.

But the undefined apis variable is a bug made by me, thanks! :D

[2017-03-30 15:33] SalmonDE commented on #16
@Ishannaik Also, could you tell me what operating system you run your server on? Windows, Linux, Android ...

[2017-03-30 19:48] LordJoshie opened #17 "Uhm...."
![screenshot_20170330-154611](https://cloud.githubusercontent.com/assets/17371144/24523188/3716da74-1560-11e7-9841-98fbb7901252.png)

this shouldn't be like this, I don't think....

[2017-03-30 23:17] SlothyOne commented on #16
[code]
im having trouble setting this up..this the config i edited,did i miss something?

[2017-03-31 13:01] Ishannaik commented on #16
Linux

[2017-03-31 14:47] SalmonDE commented on #17
Can you look for an error message? Or can you give me a part of your server.log file, where this occurs?

[2017-03-31 14:50] SalmonDE commented on #16
@Ishannaik Can you give me the output of `file -bi config.yml`?

[2017-03-31 14:51] SalmonDE commented on #16
@RyanClarke2 What exactly isn't working for you?

[2017-03-31 14:56] Leejit commented on #17
well, the screenshot shows what my console log would show.... the
screenshot is the error I get.

just shows ERROR then something about raw...and shows all that in console.

On Mar 31, 2017 10:47 AM, "SalmonDE" <notifications@github.com> wrote:

[2017-03-31 15:02] SalmonDE commented on #17
@LordJoshie This still doesn't seem like the full error message

[2017-03-31 15:03] Leejit commented on #17
top to bottom, it repeats itself... this is the clip from bottom, and
beginning.

On Mar 31, 2017 11:02 AM, "SalmonDE" <notifications@github.com> wrote:

[2017-03-31 16:46] SalmonDE commented on #17
@LordJoshie As you can see [here](https://github.com/SalmonDE/TopVoter/blob/master/src/SalmonDE/TopVoter/Tasks/QueryServerListTask.php#L44) there actually have to be more messages. The one in your picture is just the last one. If there are not I'd still be glad if you could send me more of the errors, perhaps I see something useful in the others

[2017-03-31 23:17] SlothyOne commented on #16
im not sure..it looks all good for the most part,i dont see any errors or anything.it just isnt showing the floating text when i enter the server.

[2017-03-31 23:50] SalmonDE commented on #16
@RyanClarke2 Is your world named Spawn and did you type in the correct coordinates? And I'd like you to create an own issue with your problem to keep the overview, because this issue already is full of comments.

[2017-04-06 19:41] PluginBOXone opened #18 "Error message > Plugin isnt Green ! It is Red!"
Error in Console:  [Server thread/CRITICAL]: ClassNotFoundException: "Class SalmonDE\Updater\UpdateManager not found" (EXCEPTION) in "/src/spl/BaseClassLoader" at line 144

Version: 1.0.5 Alpha
Server Version: BluLight
Server OS: Linux / Debian 8

[2017-04-07 02:04] Aericio commented on #18
That's because TopVoter needs the updater files to run, but the updater files are not in the plugin. Downloading it as .zip doesn't add the submodule, so that is probably why. Instead, download the latest build [here.](https://github.com/SalmonDE/TopVoter/releases)

[2017-04-07 02:04] #18 closed

[2017-04-07 08:46] SalmonDE commented on #18
He is right, you downloaded the plugin from the wrong location.

[2017-04-08 03:32] Aericio commented on #17
Does this problem still persist?

[2017-04-08 04:39] Leejit commented on #17
for me it hasnt. it can be closed

On Apr 7, 2017 11:32 PM, "Aericio" <notifications@github.com> wrote:

[2017-04-08 06:16] Aericio commented on #17
Okay. If it happens again, then you can make a new issue / update this one.

[2017-04-08 06:16] #17 closed

[2017-04-11 08:29] Ishannaik commented on #16
sorry i wasnt on these days but how do i get the outupt

[2017-04-12 02:31] Aericio commented on #16
@Ishannaik I believe you do `file -bi config.yml` where TopVoter's config files are.

[2017-04-14 05:19] Ishannaik commented on #16
uh in the console?

[2017-04-14 06:07] Aericio commented on #16
You're using Linux right? Open terminal (not pocketmines), `cd` into where TopVoter's configuration files are, and run that command in terminal.

[2017-04-14 11:48] Ishannaik commented on #16
kk

[2017-04-14 11:49] Ishannaik commented on #16
text/plain; charset=utf-8

[2017-04-30 20:53] xXSirGamesXx opened #19 "Doesnt load"
SO I added the api key correctly but the plugin never loads the text.
I get this error:
`Notice: Undefined variable: err in C:\Users\xXSir\Downloads\BCN\plugins\TopVoter-master\src\SalmonDE\Updater\Utils.php on line 11

Notice: Undefined variable: err in C:\Users\xXSir\Downloads\BCN\plugins\TopVoter-master\src\SalmonDE\Updater\Utils.php on line 19

Notice: Undefined variable: err in C:\Users\xXSir

[2017-04-30 21:34] #19 closed

[2017-04-30 21:34] Aericio commented on #19
Server software issue, you need to use pmmp for TopVoter to work correctly.

[2017-04-30 23:07] SalmonDE commented on #19
Due to recent changes to the Utils::getURL() function in pmmp I edited this plugin, which broke compatibility with other software than pmmp. A solution would be to use an older release like [this one](https://github.com/SalmonDE/TopVoter/releases/tag/untagged-935d8392f487433c7d16)

[2017-05-01 21:40] FienixEC opened #20 "Error while processing data from the serverlist!"
Getting this error below on console after every update event, and in game floating votes text wont display, any help on this?

[code]

[2017-05-01 22:00] SalmonDE commented on #20
Thanks for reporting, I will look into this. Can you tell me where you downloaded the plugin from? (Or better, which release) I'd like to know which version you use.

[2017-05-02 02:22] xXSirGamesXx commented on #20
I got the same error. But I'm using a different software called Genisys3. Same concept of Tesserract. I'm gonna port the new Utils.php into my software and see if this plugin will work. If you want more info go to github.com/frontierdevs/Genisys3 I will update it tomarrow.

[2017-05-02 05:10] xXRyzen commented on #20
I downloaded directly from https://github.com/SalmonDE/TopVoter and this was just earlier today that i downloaded it. and thanks for the quick response!

[2017-05-02 06:34] Aericio commented on #20
From the releases tab? Or .zip?

[2017-05-02 12:49] SalmonDE commented on #20
@xXSirGamesXx Sorry but I don't understand your comment. The error seems to be not related to the server software, so I decided to accept the issue and look into it, he/she's not making it difficult for me.

[2017-05-02 18:41] xXSirGamesXx commented on #20
Ok got it, sorry.

[2017-05-02 21:05] xXRyzen commented on #20
From the green "Download Zip" tab @Aericio
(version: 2.1.0)

[2017-05-02 22:00] SalmonDE commented on #20
@FienixEC Are you using any other plugins from me?

[2017-05-02 23:21] xXRyzen commented on #20
@SalmonDE Just your FishyUpdater plugin which you may have seen i accidentally posted this issue there

[2017-05-03 04:05] Aericio commented on #20
FishyUpdater isn't a plugin...  its files for the plugin.

[2017-05-03 10:58] SalmonDE commented on #20
@FienixEC Can you try again with a version downloaded on [this page](https://github.com/SalmonDE/TopVoter/releases)?

[2017-05-04 06:48] xXRyzen commented on #20
@SalmonDE  Same issue, although when i first loaded the .phar in the link you provided i got this error on console, with a server crash and no crash report.

2017-05-04 [Tesseract] [02:47:57] CRITICAL> Error: "Call to a member function close() on null" (EXCEPTION) in "/plugins/MineAuth/src/SAM/SAM(526) : eval()'d code(2) : eval()'d code(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code(1) :

[2017-05-04 12:29] SalmonDE commented on #20
@FienixEC The crash you described seems to be caused by aplugin called MineAuth, not TopVoter.
So it still occurs for you?

[2017-05-04 22:16] xXRyzen commented on #20
@salmonde no it only happened that one time after i switched from the TopVoter src to the .phar, hasnt occured since issue mat have been unrelated, i apologize if so, however im getting the same issue as before

[2017-05-05 01:43] xXRyzen commented on #20
A good friend of mine, also my host, was able to run a debug on this and came back with these error results, which are specific to my issue, which should give you a better direction towards solving the problem. Hope it helps, and again thanks for your time in helping solve this in a timely manner!

[code]

[2017-05-05 02:15] MattWAnderson commented on #20
How does this data work for GetResult() when there is no getResult function in the plugin for it to call on?

[2017-05-05 02:21] Aericio commented on #20
@FienixEC What host are you using?

[2017-05-05 02:25] xXRyzen commented on #20
@Aericio Its a private dedicated server host, its not like a hosting company like netherbox or cubedhost, its hosted privately

[2017-05-05 02:27] Aericio commented on #20
Just to test, can you open up all ports on your system? (pretty sure that doesn't matter but just try)

[2017-05-05 02:30] MattWAnderson commented on #20
No, we cannot do that. It is getting the RAW data fine so there is no issue with the collecting data. The issue  has to be related to how the plugin is using data. The plugin is calling on getResults however there is no getResults function or listing of the data key "Voters" for it to collect data for the plugin. we have tested a manual array and this works, however as shown above it is returning

[2017-05-05 05:04] SalmonDE commented on #20
@MattWAnderson I'm pretty sure AsyncTask::getResult() does exist, it's predefined by PocketMine, but you're right. Collecting the data works, using it doesn't.

[2017-05-05 06:28] SalmonDE commented on #20
Can you try adding echo $e->getMessage(); here:
https://github.com/SalmonDE/TopVoter/blob/master/src/SalmonDE/TopVoter/Tasks/QueryServerListTask.php#L31
Then start the server again and give me the output of the new message. :)

[2017-05-05 06:30] SalmonDE commented on #20
This error seems to be caused by an exception caught in the task, however I'd like to confirm that, but I don't encounter this issue (yet?)

[2017-05-05 13:06] SalmonDE commented on #20
Hmm, actually, can you tell me which exact version of Tesseract you're using?

[2017-05-05 13:16] SalmonDE commented on #20
This issue was caused by server software incompatibility. Tesseract does not support features which this plugin uses and that causes the plugin to throw an exception on it's own.

I'm sorry but I'm not going to add a check for the server software, it doesn't seem nice to me.

[2017-05-05 13:28] SalmonDE commented on #20
However I can predefine $err, I can't say that it will work as Tesseract only supports three arguments in Utils::getURL() and not four, but it's worth a try.

[2017-06-05 13:24] kabluinc commented on #20
Having same issue on PMMP since 1.1

[2017-06-05 20:46] Aericio commented on #20
@kabluinc Can you send a paste of it?

[2017-06-07 18:06] kabluinc commented on #20
`[18:03:53] [Server thread/WARNING]: [TopVoter] Error while processing data from the serverlist!
[18:03:53] [Server thread/ERROR]: [TopVoter]
[18:03:53] [Server thread/ERROR]: [TopVoter] Raw: {
        "name":"GamesCube",
        "address":"gamescube.tk",
        "port":"19132",
        "month":"201706",
        "voters": [
                                {
                "nickname":"player1",

[2017-06-07 18:07] kabluinc commented on #20
Worked fine before the PMMP master branch updated to 1.1.

[2017-06-07 23:53] MattWAnderson commented on #20
This is the root issue in the PMMP: I removed the update check and the plugin runs fine on the latest PMMP.

[code]

[2017-06-08 15:26] kabluinc commented on #20
@MattWAnderson Where is this code at?

[2017-06-09 12:56] SalmonDE commented on #20
@MattWAnderson The updater shouldn't affect the query task at all. Can you prove with tests that this is the cause?

As kabluinc's error message shows, it seems to be a caught exception with no message in it.

[2017-06-10 11:07] SalmonDE commented on #20
Should work fine in a14fe2698916b699b313e359beb3d41e2d145ea7 now

[2017-06-10 11:20] #20 closed

[2017-07-19 05:53] TaiXeko opened #21 "Bugggggggg"
[CRITICAL] ErrorException: "yaml_parse(): reading error encountered during parsing: control characters are not allowed (line 1, column 1)" (EXCEPTION) in "/src/pocketmine/utils/Config" at line 143

[2017-07-19 06:19] SalmonDE commented on #21
Can you provide the content of your config file?

[2017-07-19 06:22] TaiXeko commented on #21
okey

[2017-07-19 06:24] TaiXeko commented on #21
[https://secufiles.com/4Ypx/TopVoter_v2.2.1.phar](url)

[2017-07-19 07:31] SalmonDE commented on #21
I meant your config.yml file

[2017-07-19 07:40] TaiXeko commented on #21
Removed because of Key exposure

[2017-07-19 08:35] SalmonDE commented on #21
It seems like instead of § for colour codes you inserted specials characters. Please fix your config file and make sure that you really wrote e.g. §4.

[2017-07-19 08:35] #21 closed

[2017-07-19 11:35] TaiXeko commented on #21
why key not found

[2017-07-19 11:40] TaiXeko opened #22 "Suport Please"
Hello again! sorry to bother ! Why do not you show topvote with FloatingText so people will see how this plugin can see TopVote!

[2017-07-19 17:02] SalmonDE commented on #22
This plugin is about showing the players who voted the most on a floating text already. Is it not working for you?

[2017-07-19 17:45] SalmonDE commented on #21
Check your config for that

[2017-07-21 02:04] TaiXeko commented on #22
xyz ?

[2017-07-21 02:15] TaiXeko commented on #22
#Position of the floating text particle
Pos:
  X: 84.5
  "Y": 72
  Z: 83.7
#Worlds which will show the particle
Worlds: sb
#API-Key of your server provided by minecraftpocket-servers.com
API-Key: "U6beJvw98HAtJwMaCAPTiJjD4PmA4O3o91R"
#Amount of voters who shall be shown (Max: 500)
Amount: 10
#Update interval of the query to the server in seconds
#SHOULD BE ATLEAST 180! OUTPUT IS CACHED FOR 3 MINUT

[2017-07-21 06:42] TaiXeko commented on #22
Thank you for it already works. Can you write the Village Shop Plugin?

Vào 20-07-2017 0:03, "SalmonDE" <notifications@github.com> đã viết:

[2017-07-21 20:28] SalmonDE commented on #22
Sorry, I'm not accepting requests in the issue tracker of TopVoter. Please ask on the pmmp forums for requests.
https://forums.pmmp.io/forums/requests/

[2017-07-21 20:28] #22 closed

[2017-11-22 13:30] HiggsInc opened #23 "Error reading ca cert file"
Hey mate, any advise for the following:
[Server thread/ERROR]: [TopVoter] Error: Error reading ca cert file /etc/ssl/certs/ca-certificates.crt - mbedTLS: (-0x3E00) PK - Read/write of file failed

Been using this plugin for a while however its started producing this error a few API versions ago. Any suggestions on solving this?

Server Details:
server is running [PocketMine-MP 1.7dev-435]「[REDACTED

[2017-11-22 13:47] SalmonDE commented on #23
You seem to have a linux system. Can the file located in /etc/ssl/certs/ca-certificates.crt be opened by the mcbe server?

[2017-11-22 13:56] HiggsInc commented on #23
Unfortunately not in this instance as that file does not exist

[2017-11-22 14:58] SalmonDE commented on #23
The server tries to open that file and because it fails, it also can't connect to the serverlist website.

This is probably because the file is needed by curl for https.

[2017-11-22 19:19] HiggsInc commented on #23
No problem. I've created a certificate which had to be labelled "ca-certificates.crt" in order for this to work

Thanks again

[2017-11-22 19:19] #23 closed

[2018-06-07 14:07] cujowilliams123 opened #24 "help"
erver thread/DEBUG #1 src/pocketmine/utils/Config(155): yaml_parse(string #Position of the floating text particle..Pos:..  X: 12..  "Y": 22..  Z: 35..#Worlds which will show the particle..Worlds: [world1, world]..#API-Key of your server provided by minecraftpocket-servers.com..API-Key: *CENSORED*..#Amount of voters who shall be shown (Max: 500)..Amount: 19..#Update interval of the query to the ser

[2018-06-07 14:08] ShotDead7297 commented on #24
what do i do about this

[2018-06-07 14:48] SalmonDE commented on #24
Your key must be encapsulated inside of the “ symbol

After you've corrected the placement of your api key and every other potential flaw in your configuration file, this error shouldn't occur anymore.

[2018-06-07 15:41] #24 closed

[2018-06-16 03:35] CupidonSauce173 opened #26 "Error reading ca cert file"
[Server thread/WARNING]: [TopVoter] Error while processing data from the serverlist!
[Server thread/ERROR]: [TopVoter] Error: Error reading ca cert file /etc/ssl/certs/ca-certificates.crt - mbedTLS: (-0x3E00_ PK - Read/write of file failed

pocketmine information : dev 1.7 build 1001 API 3.0.0-ALPHA12

[2018-06-16 03:51] CupidonSauce173 commented on #26
I run on CentOS 7.

[2018-06-16 03:52] CupidonSauce173 commented on #23
How do I fix this issue if I run on CentOS 7 ? @HiggsInc

[2018-06-16 05:16] Aericio commented on #26
@SalmonDE Maybe we should let them define the path to their certificate instead, since some OS have them in different places?

[2018-06-16 07:26] SalmonDE commented on #26
As far as I can tell this is an issue with your php/system configuration. TopVoter is not using any certificate files directly.

However, that file seems to be needed by curl to establish a https connection to the serverlist, hence why it occurs when TopVoter tries to fetch data from it.

[2018-06-17 12:07] #26 closed

[2018-06-20 04:54] LegendryDileo opened #27 "lol he,"
Hey Bro,hab neuen acc,kannst du mich da anschreiben Pls?

[2018-06-20 06:05] #27 closed

[2018-07-27 08:58] SalmonDE commented on #26
For future reference:
On Debian systems installing ca-certificates seems to have fixed the problem for someone:
`apt-get install ca-certificates`

[2018-07-27 08:58] SalmonDE commented on #23
For future reference:
On Debian systems installing ca-certificates seems to have fixed the problem for someone:
`apt-get install ca-certificates`

[2018-07-27 13:04] NycuRO opened #28 "hi salami"
sup bro

[2018-07-27 13:07] SalmonDE commented on #28
Don't abuse the issues for a simple conversation

[2018-07-27 13:07] #28 closed

[2018-07-27 13:33] ghost commented on #28
sorry salami, sup?
:d

do you have discord?

[2018-08-03 00:00] SalmonDE commented on #10
Seems to be connected to #26 in retrospective.

[2018-08-09 20:01] SuperAdam47 opened #29 "Error"
![image](https://user-images.githubusercontent.com/16169771/43922673-17598a6a-9c28-11e8-95a0-c76aec193932.png)

[2018-08-09 20:13] SalmonDE commented on #29
Your config is outdated. Make sure it looks like the default one:
https://github.com/SalmonDE/TopVoter/blob/master/resources/config.yml

[2018-08-09 20:13] #29 closed

[2018-08-10 10:49] SuperAdam47 commented on #29
ok.

[2018-08-28 17:24] AyzrixYTB opened #30 "not work"

[2018-08-28 18:49] SalmonDE commented on #30
Closing due to no information given

[2018-08-28 18:49] #30 closed

[2018-08-28 19:04] AyzrixYTB opened #31 "how to configure"
2018-08-28 [21:02:27] [Server thread/WARNING]: [TopVoter] Invalid API key

[2018-08-28 21:19] SalmonDE commented on #31
You need to put your api-key from minecraftpocket-servers.com in the config file.

[2018-10-15 07:16] teracube opened #32 ""Cannot send empty batch" (EXCEPTION) in "src/pocketmine/Server" at line 1851"
@SalmonDE

https://poggit.pmmp.io/r/42766/TopVoter_dev-32.phar
https://jenkins.pmmp.io/job/PocketMine-MP/1544/

[code]

[2018-10-15 13:48] SalmonDE commented on #32
PMMP 3.2.4 isn't supported by your TopVoter version. Try https://poggit.pmmp.io/r/40538/TopVoter_dev-32.phar.

However, I couldn't reproduce this issue with the referenced version.

[2018-10-15 14:03] teracube commented on #32
@SalmonDE
Oop sorry, I have modified my post. I use TopVoter_dev-32.phar (and not /TopVoter_dev-35.phar)

[2018-10-24 12:56] SalmonDE commented on #32
I'm still unable to reproduce this issue, but I'll push a fix for a weird edge case where this could happen.

[2018-10-24 12:58] #32 closed

[2018-10-24 21:06] FienixEC opened #33 "Wont display voters"
24.10 13:56:40 [Server] Server thread/CRITICAL [TopVoter] Could not execute task SalmonDE\TopVoter\Tasks\UpdateVotesTask: Declaration of SalmonDE\TopVoter\Tasks\QueryServerListTask::onCompletion(): void should be compatible with pocketmine\scheduler\AsyncTask::onCompletion(pocketmine\Server $server)
24.10 13:56:40 [Server] Server thread/CRITICAL ErrorException: "Declaration of SalmonDE\TopVoter\Ta

[2018-10-24 22:06] #33 closed

[2018-10-27 17:37] cujowilliams123 opened #34 "error"
27.10 17:35:42 [Server] Server thread/CRITICAL Could not execute task SalmonDE\TopVoter\Tasks\UpdateVotesTask: Declaration of SalmonDE\TopVoter\Tasks\QueryServerListTask::onCompletion(): void should be compatible with pocketmine\scheduler\AsyncTask::onCompletion(pocketmine\Server $server)
27.10 17:35:42 [Server] Server thread/CRITICAL ErrorException: "Declaration of SalmonDE\TopVoter\Tasks\QuerySe

[2018-10-27 18:08] SalmonDE commented on #34
Download the release version from Poggit: https://poggit.pmmp.io/p/TopVoter/3.1.0

[2019-02-19 15:47] LiaamDev opened #35 "Does not work at all."
Version 3.1.0 for API 3.0.0-3.6.1. Plugin just does not work despite putting in correct information coordinates in config.yml.

[2019-02-20 03:47] Aericio commented on #35
We don't have version 3.1.0 for API 3.0.0. Version 3.1.0 uses API 4.0.0.

[2019-02-20 06:59] LiaamDev commented on #35
Not according to poggit. Poggit says version 3.1.0 is for APIs 3.0.0-3.6.1 - which versions of the plugin are for 3.0.0 API?

[2019-02-20 11:32] SalmonDE commented on #35
Cannot reproduce using PMMP 3.6.2 and TopVoter poggit release 3.1.0.
Please check your configuration or elaborate the situation.

![image](https://user-images.githubusercontent.com/15953947/53088941-76780400-350b-11e9-9d8f-cfc740c14500.png)

[2019-02-20 11:32] #35 closed

[2019-02-21 05:33] Aericio commented on #35
Ah, there was another branch. https://github.com/SalmonDE/TopVoter/tree/api-3.0.0

@SalmonDE would be kinda nice if two different api versions would have different plugin versions lol

[2019-02-21 07:23] LiaamDev commented on #35
I’m sure I’ve got the 3.0.0 API Version as my server has no trouble running it. It just doesn’t work.

[2019-02-21 11:38] LiaamDev commented on #35
Apologies. The plugin DOES infact work.

[2019-02-21 15:45] SalmonDE commented on #35
@Aericio I was planning to bump the plugin version in the master branch as soon as there's a stable release  of pmmp 4.0

@LiaamDev I'm glad the plugin now works for you. ;)

[2020-03-22 12:30] mrpwes opened #37 "Error"
![image](https://user-images.githubusercontent.com/31194909/77249420-e65f3d80-6c7b-11ea-8f17-ed8a87902702.png)

[2020-03-23 19:05] #37 closed

[2020-05-25 07:57] teracube opened #38 "server randomly crash"
minecraftpocket-servers.com issue or not ?

https://poggit.pmmp.io/r/60582/TopVoter_dev-49.phar

[code]

[2020-05-25 16:22] SalmonDE commented on #38
That seems like a dns issue. If the issue occurs frequently I would advise you to check your network/dns configuration. Anyway there is no indication that this is caused by TopVoter directly, as it uses the pmmp api to make https requests.

[2020-05-25 16:22] #38 closed

[2020-05-25 16:39] teracube commented on #38
not frequently
thanks

[2020-08-17 16:00] jibixyt opened #39 "Error"
Please Fix
btw the server is crashing
error:

``
Backtrace:
#0 src/pocketmine/Worker(87): Thread->start(integer 17)
#1 src/pocketmine/scheduler/AsyncPool(158): pocketmine\Worker->start(integer 17)
#2 src/pocketmine/scheduler/AsyncPool(185): pocketmine\scheduler\AsyncPool->getWorker(integer 1)
#3 src/pocketmine/scheduler/AsyncPool(234): pocketmine\scheduler\AsyncPool->submitTaskToWorker(object Salm

[2020-08-17 17:45] SalmonDE commented on #39
You have included the backtrace, thank you for that as it does help understanding how the error occured, but please also provide the error message itself.

[2020-08-19 17:14] SalmonDE commented on #39
Closing due to inactivity. Feel free to respond with additional information anyway.

[2020-08-19 17:14] #39 closed

[2022-05-12 11:41] SiahRBLX opened #42 "Question"
Why does this happen...

[11:19:29.193] [Server thread/WARNING]: [TopVoter] Error while processing data from the serverlist!
[11:19:29.193] [Server thread/ERROR]: [TopVoter] Error:

Was working fine yesterday, Started today